
{% include 'partials/header.html' %}
{% include 'partials/nav.html' %}
{% include 'partials/imgHeader.html' %}
    <main class="container main-section article-list">  
        {% for article in articles %}
        <div class="article-wrapper">
            <div class="article">
                <a class="article-link" href="/article/{{article.title}}">
                    <div class = "article-title">{{ article.readableTitle}}</div>
                </a>
            </div>
            <hr/>
        </div>
        {% endfor %}
    </main>
{% include 'partials/footer.html' %}
