
:root {
    --main-text-color: #444;
}

body {
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: auto;
}

nav {
    display: flex;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid #e1e1e1;
}

nav .title{
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 26px;
}

nav .title a{
    color: var(--main-text-color);
    font-weight: bold;
    text-decoration: none;
}

article {
    padding: 0 32px;
}

.article-link {
    display: block;
    margin: 0;
    padding: 0;
}

.article-card {
    position: relative;
    margin-bottom: 40px;
}

.article-card.thumb{
    height: 400px;
    background-size: cover;
    background-position: center;
}

.article-title {
    position: absolute;
    bottom: 0;
    background: #fff;
    padding: 16px;
    font-size: 24px;
    text-decoration: none;
    color: var(--main-text-color);
    text-transform: capitalize;
    border-top: 2px solid #e1e1e1;
    width: calc(100% - 32px);
}